@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Teko:wght@300..700&display=swap');
/*Fugaz One*/
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Teko:wght@300..700&display=swap');

/*Livvic*/
@font-face {
    font-family: Tit;
    src: url(../font/masque/MASQUE__.ttf);
    /*Tit*/
}

:root {
    --tit1: Tit;
    --tit2: Fugaz One;
    --tit3: Livvic;
    --cor1: #23694d;
    --cor2: #15b3a8;
    --cor3: #97cffb;
    --cor4: #dced9f;
    --cor5: #dec14b;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    font-family: var(--tit3);
}

main>h1 {
    font-family: var(--tit2);
    text-align: center;
    margin: 30px;
    padding: 10px 20px;
    text-shadow: 1px 1px 4px var(--cor5);
    font-size: 2em;
}

main>h2 {
    font-family: var(--tit3);
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 20px;
    text-shadow: 1px 1px 4px var(--cor2);
    font-size: 1.6em;
}

.cent_agua {
    width: 100%;
    height: 50vh;
    /*background-color: #23694d;*/
    display: flex;
}

.botoes {
    width: 50%;
    /*background-color: #15b3a8;*/
    height: 100%;
    align-content: center;

}

.botoes>button {
    width: 90%;
    padding: 10px;
    margin: 15px 5% 15px 5%;
    border-radius: 20px;
    font-weight: bold;
    font-family: var(--tit3);
    font-size: 1.2em;
}

.botoes>button:hover {
    background-color: rgb(87, 189, 87);
}

.lamp {
    /*background-color: #dced9f;*/
    width: 50%;
    height: 100%;
    align-content: center;
}

.tank {
    width: 100%;
    display: flex;
    /*background-color: #97cffb;*/
    align-items: center;
    margin-bottom: 30px;
}

.led1 {
    width: 50%;
    /*background-color: #dec14b;*/
    height: 30%;
}

.led {
    width: 100%;
    height: 75%;
    /*background-color: antiquewhite;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.motores {
    width: 100%;
    display: flex;
}

.mot1,
.mot2,
.mot3 {
    width: 33%;
    height: 100%;
    /*background-color: #97cffb;*/
    display: flex;
    justify-content: space-around;
}

.ledm1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px black solid;
    align-self: center;
}

.textm1 {
    align-content: center;
}

.textm1>p {
    font-weight: 600;
}

.a,
.b {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px black solid;
}

.led1>.text>p {
    text-align: center;
    height: 25%;
    font-family: var(--tit3);
    font-weight: 600;
}

.tankReal {
    width: 100%;
    height: 50vh;
    /*background-color: #97cffb;*/
    display: flex;
    padding-bottom: 30px;
}

.tank1,
.tank2,
.tank3 {
    /*background-color: aquamarine;*/
    width: 24%;
    height: 100%;
    margin-left: 7%;
}

.reserv {
    width: 100%;
    height: 90%;
    /*background-color: bisque;*/
}

.nivel_1_a {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    background-color: rgb(239, 239, 239);
}

.nivel_2_a {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    background-color: rgb(239, 239, 239);
}

.nivel_3_a {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    background-color: rgb(80, 80, 198);
}

.nivel_1_b {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    background-color: rgb(239, 239, 239);
}

.nivel_2_b {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    background-color: rgb(80, 80, 198);
}

.nivel_3_b {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    background-color: rgb(80, 80, 198);
}

.nivel_1_c {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    background-color: rgb(80, 80, 198);
}

.nivel_2_c {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    background-color: rgb(80, 80, 198);
}

.nivel_3_c {
    height: 33%;
    border-left: black solid 5px;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    background-color: rgb(80, 80, 198);
}

.tank1>.text>p,
.tank2>.text>p,
.tank3>.text>p {
    height: 10%;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    font-weight: 600;
}