@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Teko:wght@300..700&display=swap');
/*Fugaz One*/
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Teko:wght@300..700&display=swap');

/*Livvic*/
@font-face {
    font-family: Tit;
    src: url(../font/masque/MASQUE__.ttf);
    /*Tit*/
}

:root {
    --tit1: Tit;
    --tit2: Fugaz One;
    --tit3: Livvic;
    --cor1: #23694d;
    --cor2: #15b3a8;
    --cor3: #97cffb;
    --cor4: #dced9f;
    --cor5: #dec14b;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    font-family: var(--tit3);
}

header {
    background-image: linear-gradient(0deg, var(--cor1), var(--cor2));
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.562);
    padding-bottom: 10px;
}

header>h1 {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 3em;
    font-family: var(--tit1);
    font-weight: 500;
}

header>p {
    color: white;
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 1.5em;
    font-family: var(--tit2);
    font-weight: 400;
}

nav>a {
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    font-size: 1.2em;
    transition: .5s;
}

nav>a:hover {
    background-color: var(--cor3);
    font-weight: bold;
}